<div class="row">
    <div class="col-md-10 col-md-offset-2">
        <article class="panel panel-default">
            <div class="panel-body">
                {{message.content}}

            </div>
            <footer class="panel-footer">
                <div class="author">
                    {{message.userName}}
                </div>
                <div class="config" *ngIf="message.userId===userId">
                    <a (click)="messageService.editMsg(message)">Edit</a>
                    <!--<a (click)="onEditClick.emit(message)">Edit</a>-->
                    <a (click)="onDelete()">Delete</a>
                </div>
            </footer>
        </article>
    </div>
</div>

